{% extends "layouts/base.html" %}

{% block content %}



            <!-- Blank start -->
             <div class="row">
              <div class="col-md-12">
                <div class="card equal-card">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-sm-12">
                        <h5 class="header-title-text">Resumen del inventario de propiedades</h5>

                        <div class="project-status-box">
                          <div class="project-status-card bg-success">
                            <span class="bg-light-dark h-45 w-45 d-flex-center b-r-50">
                              <i class="ph-fill  ph-house-line"></i>
                            </span>
                            <p class="mb-0 mt-2">Idealista</p>
                            <h4 class="text-white f-w-600">{{cards.card1}}</h4>
                          </div>
                          <div class="project-status-card bg-danger">
                            <span class="bg-light-light h-45 w-45 d-flex-center b-r-50">
                              <i class="ph-duotone  ph-house-line"></i>
                            </span>
                            <p class="mb-0 mt-2">AirBNB</p>
                            <h4 class="text-white f-w-600">{{cards.card2}}</h4>
                          </div>
                          <div class="project-status-card bg-warning">
                            <span class="bg-light-dark h-45 w-45 d-flex-center b-r-50">
                              <i class="ph-fill  ph-circles-three-plus"></i>
                            </span>
                            <p class="mb-0 mt-2">Añadidas hoy</p>
                            <h4 class="text-white f-w-600">{{cards.card3}}</h4>
                          </div>
                          <div class="project-status-card bg-info">
                            <span class="bg-light-light h-45 w-45 d-flex-center b-r-50">
                              <i class="ph-fill  ph-key-return"></i>
                            </span>
                            <p class="mb-0 mt-2">Acualizadas hoy</p>
                            <h4 class="text-white f-w-600">{{cards.card4}}</h4>
                          </div>
                          <div class="project-status-card bg-dark">
                            <span class="bg-light-light h-45 w-45 d-flex-center b-r-50">
                              <i class="ph-fill  ph-currency-eur"></i>
                            </span>
                            <p class="mb-0 mt-2">Precio medio por metro</p>
                            <h4 class="f-w-600 text-white">{{cards.card5}} €</h4>
                          </div>
                        </div>


                      </div>

                    </div>
                  </div>
                </div>
              </div>
             </div>
            <div class="row">
                       <!-- Pie1 - Idealista by Bedrooms -->
              <div class="col-md-6">
                <div class="card">
                  <div class="card-header">
                    <h5>Composición número de habitaciones</h5>
                  </div>
                  <div class="card-body">
                    <div id="pie1"></div>
                  </div>
                </div>
              </div>
              <!-- Simple Pie Chart end --> 


            </div>
              <!-- Blank end -->

              <script>

                /* Pie1 */
                const pieData = {{ pie1 | tojson }};
                const series = pieData.map(item => item.propiedades);
                const labels = pieData.map(item => item.bedrooms.toString() + " dormitorios");
              
                var options = {
                    series: series,
                    chart: {
                        height: 340,
                        type: 'pie',
                    },
                    labels: labels,
                    legend: {
                      position: 'bottom'
                    },
                    responsive: [{
                        breakpoint: 1366,
                        options: {
                            chart: {
                                height: 250
                            },
                            legend: {
                              show: false,
                            },
                        }
                    }]
                };
                var chart = new ApexCharts(document.querySelector("#pie1"), options);
                chart.render();
                /* Pie1 End */




              </script>


{% endblock %}