{% extends "layouts/base.html" %}
{% block content %}

<!-- INFO INICIAL -->
            <p>A continuación te mostramos algunos datos de interés calculados según tus preferencias. Puedes ver o modificar tus ajustes en <strong><a class="text-d-underline" href="#" data-bs-target="#box_1" data-bs-toggle="modal">pinchando aquí</a></strong>.</p>

<!-- / INFO INICIAL -->


<!-- CARDS -->
 <div class="row">
  <div class="col-md-12">
    <div class="card equal-card">
      <div class="card-body">
        <div class="row">
          <div class="col-sm-12">
            <h5 class="header-title-text">Resumen del inventario de propiedades</h5>

            <div class="project-status-box">
              <div class="project-status-card bg-light">
                <span class="bg-light-dark h-45 w-45 d-flex-center b-r-50">
                  <i class="ph-fill  ph-house-line"></i>
                </span>
                <p class="mb-0 mt-2">Inmuebles en cartera</p>
                <h4 class="text-white f-w-600">{{kpi.card1}}</h4>
              </div>
              <div class="project-status-card bg-light">
                <span class="bg-light-dark h-45 w-45 d-flex-center b-r-50">
                  <i class="ph-fill  ph-house-line"></i>
                </span>
                <p class="mb-0 mt-2">Coinciden con tus preferencias</p>
                <h4 class="text-white f-w-600">{{kpi.card2}}</h4>
              </div>
              <div class="project-status-card bg-light">
                <span class="bg-light-dark h-45 w-45 d-flex-center b-r-50">
                  <i class="ph-fill  ph-circles-three-plus"></i>
                </span>
                <p class="mb-0 mt-2">Añadidas hoy</p>
                <h4 class="text-white f-w-600">{{kpi.card3}}</h4>
              </div>
              <div class="project-status-card bg-light">
                <span class="bg-light-dark h-45 w-45 d-flex-center b-r-50">
                  <i class="ph-fill  ph-key-return"></i>
                </span>
                <p class="mb-0 mt-2">Acualizadas hoy</p>
                <h4 class="text-white f-w-600">{{kpi.card4}}</h4>
              </div>
              <div class="project-status-card bg-light">
                <span class="bg-light-dark h-45 w-45 d-flex-center b-r-50">
                  <i class="ph-fill  ph-currency-eur"></i>
                </span>
                <p class="mb-0 mt-2">Precio medio por metro</p>
                <h4 class="f-w-600 text-white">{{kpi.card5}} €</h4>
              </div>
              <div class="project-status-card bg-light">
                <span class="bg-light-dark h-45 w-45 d-flex-center b-r-50">
                  <i class="ph-fill  ph-currency-eur"></i>
                </span>
                <p class="mb-0 mt-2">Precio medio por metro</p>
                <h4 class="f-w-600 text-white">{{kpi.card5}} €</h4>
              </div>
            </div>


          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<!-- / CARDS -->

<!-- Stacked Column Chart start -->
<div class="col-lg-6">
    <div class="card">
        <div class="card-header">
            <h5>Stacked Column Chart</h5>
        </div>
        <div class="card-body">
            <div id="column3"></div>
        </div>
    </div>
</div>
<!-- Stacked Column Chart end -->

<div class="row">

</div>


<script>
//  **------column_chart 3**
var options = {
    series: [{
    name: 'PRODUCT A',
    data: [44, 55, 41, 67, 22, 43]
  }, {
    name: 'PRODUCT B',
    data: [13, 23, 20, 8, 13, 27]
  }, {
    name: 'PRODUCT C',
    data: [11, 17, 15, 15, 21, 14]
  }, {
    name: 'PRODUCT D',
    data: [21, 7, 25, 13, 22, 8]
  }],
    chart: {
    type: 'bar',
    height: 350,
    stacked: true,
    toolbar: {
      show: true
    },
    zoom: {
      enabled: true
    }
  },
  responsive: [{
    breakpoint: 480,
    options: {
      legend: {
        position: 'bottom',
        offsetX: -10,
        offsetY: 0
      }
    }
  }],
  plotOptions: {
    bar: {
      horizontal: false,
      borderRadius: 10,
      dataLabels: {
        total: {
          enabled: true,
          style: {
            fontSize: '13px',
            fontWeight: 900
          }
        }
      }
    },
  },
  xaxis: {
    type: 'datetime',
    categories: ['01/01/2011 GMT', '01/02/2011 GMT', '01/03/2011 GMT', '01/04/2011 GMT',
      '01/05/2011 GMT', '01/06/2011 GMT'
    ],
  },
  legend: {
    position: 'right',
    offsetY: 40
  },
  fill: {
    opacity: 1
  },
 
colors: ['#F9D249','#535AE7','#E5E3E0','#48443D'],
  };

  var chart = new ApexCharts(document.querySelector("#column3"), options);
  chart.render();



</script>



<!-- MODAL-start-->
<div class="modal fade" id="box_1" aria-hidden="true" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header bg-primary ">
        <h5 class="modal-title text-white" id="exampleModalToggleLabel4">Tus ajustes</h5>
        <button type="button" class="btn-close m-0 fs-5" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Todos los datos expuestos han sido calculados conforme a los siguientes ajustes. Recuerda que puedes cambiarlos en cualquier momento pulsando en el botón personalizar.</p>
        <ul>
           
          <li><i class="ti ti-coin-euro icon-bg"></i> Presupuesto máximo: <b>{{ '{:,.0f}'.format(parameters.MAX_INVESTMENT_BUDGET.VALUE | float).replace(',', '.') }} €</b></li>
          <li><i class="ti ti-coins icon-bg"></i> Retorno garantizado: <b>{{ '{:,.0f}'.format(parameters.INITIAL_MIN_ROI_DISPLAY_THRESOLD.VALUE | float).replace(',', '.') }} %</b></li>
          <li><i class="ti ti-building-warehouse icon-bg"></i> Ocupación anual: <b>{{ '{:,.0f}'.format(parameters.ESTIMATED_ANNUAL_OCCUPANCY.VALUE | float).replace(',', '.') }} %</b></li>
          <li><i class="ti ti-file-spreadsheet icon-bg"></i> Gastos aplicables a la compra: <b>{{ '{:,.0f}'.format(parameters.PURCHASE_COST.VALUE | float).replace(',', '.') }} %</b></li>
          <li><i class="ti ti-award icon-bg"></i> Gastos fijos: <b>{{ '{:,.0f}'.format(parameters.FIXED_OPEX.VALUE | float).replace(',', '.') }} %</b></li>
          <li><i class="ti ti-bulb-filled icon-bg"></i> Gastos variables: <b>{{ '{:,.0f}'.format(parameters.VARIABLE_OPEX.VALUE | float).replace(',', '.') }} %</b></li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button"
          onclick="window.open('{{ url_for('custom_controller.index') }}',location='_self')" class="btn btn-light-secondary">Personalizar</button>
        <button type="button" class="btn btn-light-secondary" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
<!-- MODAL-end-->

{% endblock %}