{% extends "layouts/base.html" %}

{% block content %}


<!-- Blank start -->

<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">
        <h5>¿Dónde se ubican las oportunidades de inversión?</h5>
      </div>
    
      <div class="card-body">
        <div class="row">
          <div class="col-12 mb-1">
            <p>En este mapa se muestra las ubicaciones de las oportunidades de inversión que <strong><a class="text-d-underline" href="#" data-bs-target="#box_1" data-bs-toggle="modal">hemos preparado para ti</a></strong>. Puedes mostrar u ocultar las oportunidades en función del tipo de rentabilidad que ofrecen. Recuerda que <a href="{{ url_for('custom_controller.index') }}">puedes personalizar</a> fácilmente el proceso de cálculo ajustando tus propias variables y obtén resultados aún más precisos y relevantes para ti. ¡Haz que la plataforma trabaje a tu medida!</p>
          </div>
        </div>
        <div class="row text-center">
          <div class="col-12 mb-1">
            <div class="d-flex w-100">
                <input type="checkbox" class="btn-check" id="btn_norentable" name="inp_norentable" checked>
                <label class="btn btn-outline-danger flex-fill" for="btn_norentable">No Rentable</label>
                <input type="checkbox" class="btn-check" id="btn_baja" name="inp_baja" checked>
                <label class="btn btn-outline-dark flex-fill" for="btn_baja">Baja</label>
                <input type="checkbox" class="btn-check" id="btn_media" name="inp_media" checked>
                <label class="btn btn-outline-warning flex-fill" for="btn_media">Media</label>
                <input type="checkbox" class="btn-check" id="btn_alta" name="inp_alta" checked>
                <label class="btn btn-outline-info flex-fill" for="btn_alta">Alta</label>
                <input type="checkbox" class="btn-check" id="btn_excelente" name="inp_excelente" checked>
                <label class="btn btn-outline-success flex-fill" for="btn_excelente">Excelente</label>
            </div>
          </div>
        </div>
      </div>

      <div class="card-body">
        <div class="w-100 h-280" id="markersmap" style="min-height: 600px;"></div>
      </div>
    </div>
  </div>
</div>

<!-- MODAL-start-->
<div class="modal fade" id="box_1" aria-hidden="true" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header bg-primary ">
        <h5 class="modal-title text-white" id="exampleModalToggleLabel4">Tus ajustes</h5>
        <button type="button" class="btn-close m-0 fs-5" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>El mapa mostrará las oportunidades de inversión según los siguientes ajustes.</p>
        <ul>
           
          <li><i class="ti ti-coin-euro icon-bg"></i> Presupuesto máximo: <b>{{ '{:,.0f}'.format(parameters.MAX_INVESTMENT_BUDGET.VALUE | float).replace(',', '.') }} €</b></li>
          <li><i class="ti ti-coins icon-bg"></i> Retorno garantizado: <b>{{ '{:,.0f}'.format(parameters.INITIAL_MIN_ROI_DISPLAY_THRESOLD.VALUE | float).replace(',', '.') }} %</b></li>
          <li><i class="ti ti-building-warehouse icon-bg"></i> Ocupación anual: <b>{{ '{:,.0f}'.format(parameters.ESTIMATED_ANNUAL_OCCUPANCY.VALUE | float).replace(',', '.') }} %</b></li>
          <li><i class="ti ti-file-spreadsheet icon-bg"></i> Gastos aplicables a la compra: <b>{{ '{:,.0f}'.format(parameters.PURCHASE_COST.VALUE | float).replace(',', '.') }} %</b></li>
          <li><i class="ti ti-award icon-bg"></i> Gastos fijos: <b>{{ '{:,.0f}'.format(parameters.FIXED_OPEX.VALUE | float).replace(',', '.') }} %</b></li>
          <li><i class="ti ti-bulb-filled icon-bg"></i> Gastos variables: <b>{{ '{:,.0f}'.format(parameters.VARIABLE_OPEX.VALUE | float).replace(',', '.') }} %</b></li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button"
          onclick="window.open('{{ url_for('custom_controller.index') }}',location='_self')" class="btn btn-light-secondary">Personalizar</button>
        <button type="button" class="btn btn-light-secondary" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
<!-- MODAL-end-->


<!-- Blank end -->


<script>

/* Mapa con los marcadores de las viviendas */
var map = L.map('markersmap').setView([40.416936, -3.703470], 11);

var tiles = L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
	maxZoom: 19,
	attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
}).addTo(map);

var NoRentable_Icon = L.divIcon({
  className: 'custom-norentable-dot',
  html: '<span style="display:inline-block;width:8px;height:8px;background:#FF5E40;border-radius:50%;border:1px solid #fff;"></span>',
  iconSize: [8, 8],
  iconAnchor: [4, 4],
  popupAnchor: [0, -4]
});
var Baja_Icon = L.divIcon({
  className: 'custom-baja-dot',
  html: '<span style="display:inline-block;width:8px;height:8px;background:#48443D;border-radius:50%;border:1px solid #fff;"></span>',
  iconSize: [8, 8],
  iconAnchor: [4, 4],
  popupAnchor: [0, -4]
});
var Media_Icon = L.divIcon({
  className: 'custom-media-dot',
  html: '<span style="display:inline-block;width:8px;height:8px;background:#EBC33F;border-radius:50%;border:1px solid #fff;"></span>',
  iconSize: [8, 8],
  iconAnchor: [4, 4],
  popupAnchor: [0, -4]
});
var Alta_Icon = L.divIcon({
  className: 'custom-alta-dot',
  html: '<span style="display:inline-block;width:8px;height:8px;background:#4FC9DA;border-radius:50%;border:1px solid #fff;"></span>',
  iconSize: [8, 8],
  iconAnchor: [4, 4],
  popupAnchor: [0, -4]
});
var Excelente_Icon = L.divIcon({
  className: 'custom-excelente-dot',
  html: '<span style="display:inline-block;width:8px;height:8px;background:#AECC34;border-radius:50%;border:1px solid #fff;"></span>',
  iconSize: [8, 8],
  iconAnchor: [4, 4],
  popupAnchor: [0, -4]
});



  /* Cargar y mostrar las geocercas del fichero Distritos.geojson */
  fetch('/static/geocercas/Distritos.geojson')
    .then(response => response.json())
    .then(geojsonData => {
      L.geoJSON(geojsonData, {
        style: function (feature) {
          return {
            color: '#154360',
            weight: 2,
            fillOpacity: 0.2
          };
        },
        onEachFeature: function (feature, layer) {
          if (feature.properties && feature.properties.NOMBRE) {
            layer.bindPopup(feature.properties.NOMBRE);
          }
        }
      }).addTo(map);
    })
    .catch(error => {
      console.error('Error cargando Distritos.geojson:', error);
    });



  var markers = {{ map_markers | tojson }};
  markers.forEach(function (markerData) {

    if (markerData.roi_group === 'No Rentable') {
      var POIIcon = NoRentable_Icon;
    } else if (markerData.roi_group === 'Baja') {
      var POIIcon = Baja_Icon;
    } else if (markerData.roi_group === 'Media') {
      var POIIcon = Media_Icon;
    } else if (markerData.roi_group === 'Alta') {
      var POIIcon = Alta_Icon;
    } else if (markerData.roi_group === 'Excelente') {
      var POIIcon = Excelente_Icon;
    }

    var marker = L.marker([markerData.lat, markerData.lng], { icon: POIIcon }).addTo(map)
      .bindPopup(
        '<h6>' + markerData.title + '</h6><hr>' +
        'Distrito: <b>' + markerData.distrito + '</b><br>' +
        'ID: <b>' + markerData.id + '</b><br>' +
        'Precio de compra: <b>' + (markerData.price ? markerData.price.toLocaleString('es-ES', { minimumFractionDigits: 2, maximumFractionDigits: 2 }) : '') + '€</b><br>' +
        'Metros: <b>' + markerData.built_area + 'm²</b><br>' +
        'Habitaciones: <b>' + markerData.bedrooms + '</b><br>' +
        'Baños: <b>' + markerData.bathrooms + '</b><br>' +
        'ADR / Precio Noche: <b>' + (markerData.price_per_night ? Number(markerData.price_per_night).toLocaleString('es-ES', { minimumFractionDigits: 2, maximumFractionDigits: 2 }) : '') + '€</b><br>' +
        'NP / Ganancia Anual: <b>' + (markerData.np ? Number(markerData.np).toLocaleString('es-ES', { minimumFractionDigits: 2, maximumFractionDigits: 2 }) : '') + '</b><br>' +
        'ROI: <b>' + markerData.roi + ' €</b><br>' +
        'BED: <b>' + (markerData.bed > 365 ? 'NO ES RENTABLE' : 'Rentable a partir de '+ markerData.bed + ' días') + '.</b><br>' +
        '<hr>Clasificación de la oportunidad: <b>' + markerData.roi_group + '</b><br>'
        + '<div style="text-align:center;"><a href="' + markerData.link + '" target="_blank">Ver en detalle</a></div>'
      )
  });

  document.getElementById('btn_norentable').addEventListener('change', function (e) {
    var show = e.target.checked;
    document.querySelectorAll('.custom-norentable-dot').forEach(function (el) {
      el.style.display = show ? 'inline-block' : 'none';
    });
  });

  document.getElementById('btn_baja').addEventListener('change', function (e) {
    var show = e.target.checked;
    document.querySelectorAll('.custom-baja-dot').forEach(function (el) {
      el.style.display = show ? 'inline-block' : 'none';
    });
  });
  document.getElementById('btn_media').addEventListener('change', function (e) {
    var show = e.target.checked;
    document.querySelectorAll('.custom-media-dot').forEach(function (el) {
      el.style.display = show ? 'inline-block' : 'none';
    });
  });
  document.getElementById('btn_alta').addEventListener('change', function (e) {
    var show = e.target.checked;
    document.querySelectorAll('.custom-alta-dot').forEach(function (el) {
      el.style.display = show ? 'inline-block' : 'none';
    });
  });
  document.getElementById('btn_excelente').addEventListener('change', function (e) {
    var show = e.target.checked;
    document.querySelectorAll('.custom-excelente-dot').forEach(function (el) {
      el.style.display = show ? 'inline-block' : 'none';
    });
  });

</script>


{% endblock %}