{% extends "layouts/base.html" %}


{% block content %}
          
            
            <!-- Data Table start -->
            <div class="row">
                <!-- Default Datatable start -->
                <div class="col-12">
                  <div class="card ">
                    <!-- <div class="card-header">
                      <h5>Card Title</h5>
                      <p>DataTables has most features enabled by default, so all you need to do to use it with your own
                        tables is to call the construction function: <code>$().DataTable();</code>. </p>
                    </div> -->
                    <div class="card-body p-0">
                      <div class="app-datatable-default overflow-auto">
                        <table id="tablelist" class="display app-data-table default-data-table">
                          <thead>
                            <tr>
                              <th>Id</th>
                              <th>Distrito</th>
                              <th>Título</th>
                              <th>Precio Compra</th>
                              <th>Superficie</th>
                              <th>Visitar</th>
                              <th>Eur / Noche</th>
                              <th>Facturación Anual Estimada</th>
                            </tr>
                          </thead>
                          <tbody>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Default Datatable end -->
                
              </div>
              <!-- Data Table end -->



<script>
  $(document).ready(function () {
    $('#tablelist').DataTable({
      processing: true,
      serverSide: true,
      ajax: '{{url_for("idealista_controller.datalist")}}',
      language: {
        url: "/static/lang/datatables_es-ES.json",
        type: "POST"
      },
      columns: [
        { data: 'id' },
        { data: 'DISTRITO' },
        { data: 'title' },
        { 
          data: 'price',
            render: function (data, type, row) {
            if (data == null) return '';
            let number = Number(data);
            if (isNaN(number)) return data;
            return number.toLocaleString('es-ES', { minimumFractionDigits: 2, maximumFractionDigits: 2 }) + ' €';
            }
        },
        { data: 'built_area' },
        { data: 'link',
          render: function (data, type, row) {
            return '<a type="button" class="btn btn-light-primary icon-btn b-r-4" href="' + data + '" target="_blank"><i class="ti ti-hand-click"></i></a>';
          }
         },
        { data: 'PRICE_PER_NIGHT',
            render: function (data, type, row) {
            if (data == null) return '';
            let number = Number(data);
            if (isNaN(number)) return data;
            return number.toLocaleString('es-ES', { minimumFractionDigits: 2, maximumFractionDigits: 2 }) + ' €';
            }
         },
        { data: 'revenue',
            render: function (data, type, row) {
            if (data == null) return '';
            let number = Number(data);
            if (isNaN(number)) return data;
            return number.toLocaleString('es-ES', { minimumFractionDigits: 2, maximumFractionDigits: 2 }) + ' €';
            }
         },


      ]
    });
  });
</script>

              {% endblock %}  


