{% extends "layouts/base.html"%}
{% block content %}

<div class="row">   
<div class="col-lg-12">
    <div class="card equal-card">

      <div class="card-body">
        <div class="app-form">
          <form class="app-form" method="post">
          <div class="row mb-3">
            <div class="col-md-3">
              <label class="form-label">Contraseña actual</label>
            </div>
            <div class="col-md-5">
              <div class="icon-form">
                <i class="ti ti-lock"></i>
                <input type="password" name="current_pwd" placeholder="Introduce tu contraseña actual" class="form-control pa-s-34" required>
              </div>
            </div>
          </div>

          <div class="row mb-3">
            <div class="col-md-3">
              <label class="form-label">Nueva contraseña</label>
            </div> 
            <div class="col-md-5">
              <div class="icon-form">
                <i class="ti ti-lock"></i>
                <input type="password" name="new_pwd" placeholder="Introduce tu nueva contraseña" class="form-control pa-s-34" required>
              </div>
            </div>
          </div>

          <div class="row mb-3">
            <div class="col-md-3">
              <label class="form-label">Repite tu nueva contraseña</label>
            </div>
            <div class="col-md-5">
              <div class="icon-form">
                <i class="ti ti-lock"></i>
                <input type="password" name="repeat_new_pwd" placeholder="Repite tu nueva contraseña" class="form-control pa-s-34" required>
              </div>
            </div>
          </div>


          <div class="row">
            <div class="col-12 text-center">
              <button type="submit" class="btn btn-info">Cambiar contraseña</button>
            </div>
          </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}