{% extends "layouts/base.html" %}


{% block content %}



<!-- Área de búsqueda -->
<div class="row mb-3" id="acordeon">
  <div class="col-12">
    <div class="card-body">
      <div class="accordion app-accordion accordion-primary">
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#filter_area"
              aria-expanded="true" aria-controls="filter_area">
                Personaliza y filtra las oportunidades de inversión inmobiliaria
            </button>
          </h2>
          <!-- incluir show como clase del id filter_area si queremos que aparezca sin colapsar -->
          <div id="filter_area" class="accordion-collapse collapse" data-bs-parent="#acordeon">
            <div class="accordion-body">
              <!-- filter_form -->
              <form name="ftr_data_form" class="app-form">
                <div class="row">
                  <div class="col-12 mb-2">
                    <p>Descubre las mejores oportunidades de inversión personalizando tus filtros de búsqueda y encuentra las
                      propiedades que mejor se adaptan a tus objetivos.</p>
                  </div>
                  <div class="col-sm-4">
                    <div class="mb-3">
                      <label class="form-label">Que incluyan el siguiente texto</label>
                      <input name="ftr_text" type="text" class="form-control" placeholder="Introduzca un texto">
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="mb-3">
                      <label class="form-label">Distrito</label>
                      <select name="ftr_district" class="form-select">
                        <option value="" selected>Incluir Todos</option>
                        {% for district in districts %}
                        <option value="{{ district.DISTRITO }}">{{ district.DISTRITO }}</option>
                        {% endfor %}
                      </select>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="mb-3">
                      <label class="form-label">Rentabilidad</label>
                      <select name="ftr_roi_group" class="form-select">
                        <option value="" selected>Incluir todas</option>
                        <option value="1">No Rentable</option>
                        <option value="2">Baja</option>
                        <option value="3">Media</option>
                        <option value="4">Alta</option>
                        <option value="5">Excelente</option>
                      </select>
                    </div>
                  </div>
              
                  <div class="col-sm-4">
                    <div>
                      <label class="form-label mb-3">Precio de compra</label>
                      <div class="mt-3" id="buy_price-slider"></div>
                      <input name="ftr_buy_price_min" type="hidden" id="buy_price-min" value="0" />
                      <input name="ftr_buy_price_max" type="hidden" id="buy_price-max" value="{{max_inv_budget}}" />
                      <span id="buy_price-display"></span>
                    </div>
                  </div>
                  
                  <div class="col-sm-4">
                    <div>
                      <label class="form-label mb-3" >Ocultar propiedades con menor ROI que:</label>
                      <div class="slider-round mt-3" id="ftr_min_roi_slider"></div>
                      <input name="ftr_min_roi" type="hidden" id="ftr_min_roi" value="{{min_display_roi}}">
                      <span id="ftr_min_roi_slider_val"></span>
                    </div>
                  </div>

                  <div class="col-sm-4">
                    <div>
                      <label class="form-label mb-3" >Ocultar propiedades con mayor PER que:</label>
                      <div class="slider-round mt-3" id="ftr_max_per_slider"></div>
                      <input name="ftr_max_per" type="hidden" id="ftr_max_per">
                      <span id="ftr_max_per_slider_val"></span>
                    </div>
                  </div>


              
              
              
                </div>
              
              </form>
              <!-- /filter_form -->
            
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#info_area"
              aria-expanded="true" aria-controls="info_area">
                Información adicional
            </button>
          </h2>

          <div id="info_area" class="accordion-collapse collapse" data-bs-parent="#acordeon">
            <div class="accordion-body">
              <p>En esta sección encontrarás un listado de propiedades inmobiliarias que cumplen con los criterios de
                búsqueda establecidos. Puedes personalizar los filtros para ajustar la búsqueda a tus necesidades.</p>
              <p>Para cada propiedad, se muestra el distrito, título, precio de compra, superficie, enlace para visitar y
                estimación de facturación anual.</p>
              <p>Utiliza los filtros para encontrar las mejores oportunidades de inversión inmobiliaria que se adapten a tus
                objetivos financieros.</p> 


                <div class="row">
                <div class="col-6 mt-3">
                
                  <div class="card card-body dashed-1-secondary">
                    <p class="f-s-20"><strong>Glosario de términos empleados:</strong></p>
                    <ul>
                      <li><strong>EUR</strong>: Valor de adquisición en Euros de la vivienda.</li>
                      <li><strong>PTC</strong>: Coste total de la adquisición de la propiedad en Euros (Purchase Total Cost). Representa
                        la suma del valor de adquisición y los costes de la compra, incluyendo costes de transmisión, impuestos,
                        compraventa, notaría y otros conceptos.</li>
                      <li><strong>EAO</strong>: Estimated Annual Occupancy. Porcentaje de ocupación anual utilizado para calcular la
                        rentabilidad estándar.</li>
                      <li><strong>ADR</strong>: Average Daily Rate o Tarifa Media Diaria.</li>
                      <li><strong>ARR</strong>: Annual Recurring Revenue o Ingresos Recurrentes Anuales. [ADR * 365 * EAO]</li>
                      <li><strong>OPEX</strong>: Operational Expenditure o Gastos Operativos. Son los costes recurrentes asociados a la operación y mantenimiento de la propiedad, como suministros, limpieza, reparaciones, seguros, gestión, cuota comunitaria, comisión de comercialización y otros gastos necesarios para su funcionamiento. Suma en Euros del FIXED_OPEX y VARIABLE OPEX anual estimado.
                      <li><strong>NP</strong>: Net Profit o Ganancia Neta Anual. Representa el beneficio neto anual obtenido tras restar los gastos operativos (OPEX) a los ingresos recurrentes anuales (ARR). [NP = ARR - FIXED_OPEX - VARIABLE_OPEX]</li>
                      <li><strong>ROI</strong>: Anual Return on Investment o Retorno de la Inversión Anual. [(ARR - OPEX) / PTC * 100]
                      </li>
                      <li><strong>PER</strong>: Price-to-Earnings Ratio o Ratio Precio/Beneficio. Muestra cuántos años de beneficios de
                        la empresa están contenidos en el precio actual de la acción. [ PTC / (ARR - OPEX)]</li>
                    </ul>
                
                  </div>
                </div>

                <div class="col-6 mt-3">

                  <div class="card card-body dashed-1-secondary bg-light-secondary">
                <p class="f-s-20"><strong>¿Cómo se clasifican las oportunidades?</strong></p>
                <ul>
                  <li class="p-1"><strong><span class="bg-danger p-1">NO RENTABLE</span></strong>: Propiedades que no generan beneficios o tienen rentabilidad negativa. <span class="text-dark">ROI menor de 0%.</span></li>
                  <li  class="p-1"><strong><span class="bg-dark p-1">BAJA</span></strong>: Rentabilidad inferior al 33% de las propiedades analizadas. <span class="text-dark">ROI entre 0% y {{ percentile_roi.P33}}%.</span></li>
                  <li class="p-1"><strong><span class="bg-warning p-1">MEDIA</span></strong>: Rentabilidad entre el 33% y el 66% de las propiedades. <span class="text-dark">ROI entre {{ percentile_roi.P33}}% y {{ percentile_roi.P66}}%.</span></li>
                  <li class="p-1"><strong><span class="bg-primary p-1">ALTA</span></strong>: Rentabilidad entre el 66% y el 90% de las propiedades. <span class="text-dark">ROI entre {{ percentile_roi.P66}}% y {{ percentile_roi.P90}}%.</span></li>
                  <li class="p-1"><strong><span class="bg-success p-1">EXCELENTE</span></strong>: Rentabilidad superior al 90% de las propiedades, es decir, las mejores oportunidades.<span class="text-dark">ROI superior a {{ percentile_roi.P90}}%.</span></li>
                </ul>
                  </div>
                </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- /Área de búsqueda -->
            
            <!-- Data Table start -->
            <div class="row">
                <!-- Default Datatable start -->
                <div class="col-12">
                  <div class="card ">
                    <!-- <div class="card-header">
                      <h5>Card Title</h5>
                      <p>DataTables has most features enabled by default, so all you need to do to use it with your own
                        tables is to call the construction function: <code>$().DataTable();</code>. </p>
                    </div> -->
                    <div class="card-body p-0">
                      <div class="app-datatable-default overflow-auto">
                        <table id="tablelist" class="display app-data-table default-data-table">
                          <thead>
                            <tr>
                              <!-- <th>ID</th> -->
                              <th>DISTRITO</th>
                              <th>TÍTULO</th>
                              <!-- <th>SUP.</th> -->
                              <th>LINK</th>
                              <th>EUR</th>
                              <th>ADR</th>
                              <th>ARR</th>
                              <th>OPEX</th>
                              <th>NP</th>
                              <th>ROI</th>
                              <th>PER</th>
                              <th>BED</th>
                              <th>&nbsp;</th>
                            </tr>
                          </thead>
                          <tbody>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Default Datatable end -->
                
              </div>
              <!-- Data Table end -->



<script>
  $(document).ready(function () {

    /* Clasificación de los inmuebles rentables */
  roi_P33 = {{ percentile_roi.P33 }};
  roi_P66 = {{ percentile_roi.P66 }};
  roi_P90 = {{ percentile_roi.P90 }};


    const form = document.forms['ftr_data_form'];

    $('#tablelist').DataTable({
      processing: true,
      serverSide: true,
      searching:false,
      ajax: {
        url: '{{url_for("idealista_controller.datalist")}}',
        type: "POST",
        data: function(d) {
          // const form = document.forms['ftr_data_form'];
            d.ftr_text = form.querySelector('input[name="ftr_text"]').value;
            d.ftr_district = form.querySelector('select[name="ftr_district"]').value;
            d.ftr_roi_group = form.querySelector('select[name="ftr_roi_group"]').value;
            d.ftr_buy_price_min = form.querySelector('input[name="ftr_buy_price_min"]').value;
            d.ftr_buy_price_max = form.querySelector('input[name="ftr_buy_price_max"]').value;
            d.ftr_min_roi = form.querySelector('input[name="ftr_min_roi"]').value;
            d.ftr_max_per = form.querySelector('input[name="ftr_max_per"]').value;
        }
      },

      language: {
        url: "/static/lang/datatables_es-ES.json",
        type: "POST"
      },
      columns: [
        // { data: 'id', },
        { data: 'DISTRITO' },
        { data: 'title' },

        // { data: 'built_area' },
        { data: 'link',
          render: function (data, type, row) {
            return '<a type="button" class="btn btn-light-primary icon-btn b-r-4" href="' + data + '" target="_blank"><i class="ti ti-hand-click"></i></a>';
          }
         },
        { 
          data: 'price',
            render: function (data, type, row) {
            if (data == null) return '';
            let number = Number(data);
            if (isNaN(number)) return data;
            return number.toLocaleString('es-ES', { minimumFractionDigits: 2, maximumFractionDigits: 2 }) + ' €';
            }
        },         
        { data: 'PRICE_PER_NIGHT',
            render: function (data, type, row) {
            if (data == null) return '';
            let number = Number(data);
            if (isNaN(number)) return data;
            return number.toLocaleString('es-ES', { minimumFractionDigits: 2, maximumFractionDigits: 2 }) + ' €';
            }
         },
        { data: 'ARR',
            render: function (data, type, row) {
            if (data == null) return '';
            let number = Number(data);
            if (isNaN(number)) return data;
            return number.toLocaleString('es-ES', { minimumFractionDigits: 2, maximumFractionDigits: 2 }) + ' €';
            }
         },
        { data: 'OPEX',
            render: function (data, type, row) {
            if (data == null) return '';
            let number = Number(data);
            if (isNaN(number)) return data;
            return number.toLocaleString('es-ES', { minimumFractionDigits: 2, maximumFractionDigits: 2 }) + ' €';
            }
         },
        { data: 'NP',
            render: function (data, type, row) {
            if (data == null) return '';
            let number = Number(data);
            if (isNaN(number)) return data;
            if (number > 0) {
              np_text_class='success'
            } else {
              np_text_class='danger'
            }
            return "<span class='text-"+np_text_class+"'>" +number.toLocaleString('es-ES', { minimumFractionDigits: 2, maximumFractionDigits: 2 }) + ' €</span>';
            }
         },
        { data: 'ROI',
            render: function (data, type, row) {
            if (data == null) return '';
            let number = Number(data);
            if (isNaN(number)) return data;
            if (number > 0) {
              roi_icon = '<i class="ti ti-chevrons-up f-s-20 text-success"></i>'
              roi_text_class='success'
            } else {
              roi_icon = '<i class="ti ti-chevrons-down f-s-20 text-danger"></i>'
              roi_text_class='danger'

            }
            return roi_icon + "<span class='text-"+roi_text_class+"'>" +number.toLocaleString('es-ES', { minimumFractionDigits: 2, maximumFractionDigits: 2 }) + '  %</span>';
            }
         },
        { data: 'PER',
            render: function (data, type, row) {
            if (data == null) return '';
            let number = Number(data);
            if (isNaN(number)) return data;
            return Math.round(number) + ' años';
            }
         },
        { 
          data: 'BED',
            render: function (data, type, row) {
            if (data == null) return '';
            let number = Number(data);
            if (isNaN(number)) return data;
            return Math.round(number) + ' días';
            }
         },
        { data: 'ROI',
            render: function (data, type, row) {
              clase = 'danger';
              texto = 'NO RENTABLE';
              if (data > 0 && data <= roi_P33) {
                clase = 'dark';
                texto = 'BAJA';
              } else if (data > roi_P33 && data <= roi_P66) {
                clase = 'warning';
                texto = 'MEDIA';
              } else if (data > roi_P66 && data <= roi_P90) {
                clase = 'primary';
                texto = 'ALTA';
              } else if (data > roi_P90) {
                clase = 'success';
                texto = 'EXCELENTE';
              }
            return '<span class="badge text-bg-'+clase+'">'+texto+'</span>';
            }
         },


      ]
    });


    $(form).on('change input', 'input, select', function() {
      $('#tablelist').DataTable().ajax.reload();
    });



/* SLIDER DEL PRECIO DE COMPRA */
  const slider = document.getElementById('buy_price-slider');

  noUiSlider.create(slider, {
    start: [0, {{ max_inv_budget }}],
    connect: true,
    range: {
      'min': 0,
      'max': {{ max_price }}
    },
    tooltips: false,
    format: {
      to: value => Math.round(value) + ' €',
      from: value => Number(value.replace(' €', ''))
    }
  });

slider.noUiSlider.on('update', function (values, handle) {
    const min = values[0].replace(' €', '');
    const max = values[1].replace(' €', '');

    // Actualiza el display formateado en tiempo real
    const minFormatted = Number(min).toLocaleString('es-ES');
    const maxFormatted = Number(max).toLocaleString('es-ES');
    document.getElementById('buy_price-display').innerText = `De ${minFormatted} € a ${maxFormatted} €`;
});

slider.noUiSlider.on('change', function (values, handle) {
    const min = values[0].replace(' €', '');
    const max = values[1].replace(' €', '');

    document.getElementById('buy_price-min').value = min;
    document.getElementById('buy_price-max').value = max;

    $(form).find('input[name="ftr_buy_price_min"], input[name="ftr_buy_price_max"]').trigger('change');
});




/* SLIDER DEL ROI */
const roi_slider = document.getElementById('ftr_min_roi_slider');

noUiSlider.create(roi_slider, {
    start: {{ min_display_roi }},                   // ROI inicial (ej. 10 %)
    range: { min: {{ min_roi }}, max: {{ max_roi }} }, // Rango ROI 0 – 100 %
    step: 1,
    connect: 'upper',            // Resalta la parte derecha
    tooltips: false,
    format: wNumb({ decimals: 0, suffix: '%' })
});
roi_slider.querySelector('.noUi-connect').style.background = '#7E9ED7';




roi_slider.noUiSlider.on('update', function (values, handle) {
  const min_roi_display = values[0].replace('%', '');
  document.getElementById('ftr_min_roi_slider_val').innerText = 'Ocultar por debajo de ' + min_roi_display + ' % ';
});

roi_slider.noUiSlider.on('change', function (values, handle) {
  const min_roi_display = values[0].replace('%', '');
  document.getElementById('ftr_min_roi').value = min_roi_display;
  $(form).find('input[name="ftr_min_roi"]').trigger('change');
});

/* SLIDER DEL MAX PER */
const per_slider = document.getElementById('ftr_max_per_slider');
noUiSlider.create(per_slider, {
  start: 15,                   
  range: { min: 0, max: 100 }, 
  connect: [true, false], // Rellena la parte izquierda
  step: 1,
  tooltips: false,
  format: wNumb({ decimals: 0, suffix: ' años' })
});

per_slider.querySelector('.noUi-connect').style.background = '#A9A1D1';

per_slider.noUiSlider.on('update', function (values, handle) {
  const max_per_display = values[0].replace('años', '');
  document.getElementById('ftr_max_per_slider_val').innerText = 'Ocultar PER superiores a ' + max_per_display + ' años ';
});

per_slider.noUiSlider.on('change', function (values, handle) {
  const max_per_display = values[0].replace('años', '');
  document.getElementById('ftr_max_per').value = max_per_display;
  $(form).find('input[name="ftr_max_per"]').trigger('change');
});




  });







</script>

              {% endblock %}  


