{% extends "layouts/base.html" %}


{% block content %}
<div class="row">

<div class="col-12">
                <div class="card">
                  <div class="card-header d-flex flex-column gap-2">
                    <h5>Parámetros y Ajustes de la aplicación.</h5>
                    <p class="text-secondary">
                        En esta pantalla puedes personalizar las constantes y parámetros con los que trabajará la aplicación. 
                        Asegúrate de introducir los valores adecuados para cada campo, respetando el tipo de dato requerido (texto, número, email, etc.). 
                        Los cambios realizados aquí afectarán el comportamiento general de la aplicación, por lo que es importante revisar cuidadosamente cada ajuste antes de guardar.
                    </p>
                </div>
                <div class="card-body">
                    <form action="{{url_for('custom_controller.update')}}" method="post" class="row g-3 app-form" id="form-validation">
                        
                        {% for parameter in parameters %}
                        <div class="row mt-3">
                            <div class="col-12">
                                <label for="id_{{parameter.NAME}}" class="form-label">{{parameter.NAME}}</label>
                                <p class="text-secondary">
                                    {{parameter.DESCRIPTION |safe}}
                                </p>
                                <input type="text" class="form-control" id="id_{{parameter.NAME}}" name="name_{{parameter.NAME}}" value="{{parameter.VALUE}}" required>
                                <!-- <div class="mt-1">
                                    <span id="userNameError" class="text-danger"></span>
                                </div> -->
                            </div>
                
                        </div>
                        {% endfor %}

                      <div class="col-12">
                        <button type="submit" value="Submit" class="btn btn-primary">Guardar Parámetros</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>


    <!-- <div class="col-12">

        <table class="table">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Valor</th>
                </tr>
            </thead>
            <tbody>
                {% for parameter in parameters %}
                <tr>
                    <td>{{ parameter.NAME }}</td>
                    <td>{{ parameter.VALUE }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div> -->


</div>

{% endblock %}