{% extends "layouts/base.html" %}

{% block content %}
<!-- Blank start -->


<!-- Franja superior con los ajustes de los cálculos -->
<div class="row mb-3">
  <div class="col-md-6 horizontal-card">
    <div class="card mb-3">
      <div class="row g-0">
        <div class="col-md-12">
          <div class="card-body">
            <h5 class="card-title"><i class="ti ti-bolt"></i> Mejora las recomendaciones con valores a tu medida
            </h5>
            <p class="card-text">
              Descubre cómo nuestras recomendaciones personalizadas pueden transformar tu experiencia. Utilizamos
              variables inteligentes por defecto para ofrecerte sugerencias adaptadas a tus necesidades, pero tienes el
              control total: personaliza fácilmente el proceso de cálculo ajustando tus propias variables y obtén
              resultados aún más precisos y relevantes para ti. ¡Haz que la plataforma trabaje a tu medida!
            </p>
            <p>&nbsp;</p>
            <p class="card-text"><button type="button" onclick="window.open('{{ url_for('custom_controller.index', parametro='dashboard') }}',location='_self')" class="btn btn-secondary d-lg-inline-flex align-items-center">
                <i class="fa-solid fa-pencil-square fa-fw"></i> Personalizar</button></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="row">




    <div class="col-md-4">
      <div class="card hover-effect card-light-secondary">
        <div class="card-body">
          <i class="ti ti-coin-euro icon-bg"></i>
          <h6>Presupuesto Máximo</h6>
          <p>{{ '{:,.0f}'.format(parameters.MAX_INVESTMENT_BUDGET.VALUE | float).replace(',', '.') }} €</p>

        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card hover-effect card-light-secondary">
        <div class="card-body">
          <i class="ti ti-coins icon-bg"></i>
          <h6>Retorno Garantizado</h6>
          <p>{{ '{:,.0f}'.format(parameters.INITIAL_MIN_ROI_DISPLAY_THRESOLD.VALUE | float).replace(',', '.') }} %</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card hover-effect card-light-secondary">
        <div class="card-body">
          <i class="ti ti-building-warehouse icon-bg"></i>
          <h6>Ocupación Anual</h6>
          <p>{{ '{:,.0f}'.format(parameters.ESTIMATED_ANNUAL_OCCUPANCY.VALUE | float).replace(',', '.') }} %</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card hover-effect card-light-secondary">
        <div class="card-body">
          <i class="ti ti-file-spreadsheet icon-bg"></i>
          <h6>Gastos Compra</h6>
          <p>{{ '{:,.0f}'.format(parameters.PURCHASE_COST.VALUE | float).replace(',', '.') }} %</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card hover-effect card-light-secondary">
        <div class="card-body">
          <i class="ti ti-award icon-bg"></i>
          <h6>Gastos Fijos</h6>
          <p>{{ '{:,.0f}'.format(parameters.FIXED_OPEX.VALUE | float).replace(',', '.') }} %</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card hover-effect card-light-secondary">
        <div class="card-body">
          <i class="ti ti-bulb-filled icon-bg"></i>
          <h6>Gastos Variables</h6>
          <p>{{ '{:,.0f}'.format(parameters.VARIABLE_OPEX.VALUE | float).replace(',', '.') }} %</p>
        </div>
      </div>
    </div>
    
    </div>


  </div>







</div>
<!-- FIN Franja superior con los ajustes de los cálculos -->

<!-- Inicio franja de recomendación de oportunidades -->
{%if oportunities %}
<div class="row">
  
  <div class="col-md-12 mb-3">
    <div class="h5">Hola <strong>{{profile_user_name}}</strong>, hoy te recomendamos invertir en las siguientes oportunidades</div>
  </div>
 

{% for oportunitie in oportunities %}
<div class="col-2">
  <div class="ribbon-box h-150 bg-dark-500 mb-3">
    <div class="circle-ribbon circle-right ribbon-success">
      {{ '{:.1f}'.format(oportunitie.ROI | float) }}%
    </div>
    <p>{{oportunitie.TITLE}}</p>
    <p class="f-s-12">Compra en {{ '{:,.0f}'.format(oportunitie.PRICE | float).replace(',', '.') }} €</p>
    <p class="f-s-12">Rentable a partir de <strong></strong>{{ '{:,.0f}'.format(oportunitie.BED | float).replace(',', '.') }} días</strong>.</p>
    <p class="f-fw-700">Ganancia Anual: <span class="text-success">{{ '{:,.0f}'.format(oportunitie.NP | float).replace(',', '.') }} €</span>.</p>
  </div>
</div>

{%endfor%}


</div>
 {%endif%}
 <!-- Fin de franja de recomendaciones -->


 
<!-- Inicio franja de recomendación de oportunidades mejorando el presupuesto -->
{%if improvable_oportunities %}
<div class="row">
  
  <div class="col-md-12 mb-3">
    <div class="h5">Y además... mejorando tu presupuesto podrían interesarte las siguientes oportunidades</div>
  </div>
 

{% for improvable_oportunitie in improvable_oportunities %}
<div class="col-2">
  <div class="ribbon-box h-150 bg-light-500 mb-3">
    <div class="circle-ribbon circle-right ribbon-success">
      {{ '{:.1f}'.format(improvable_oportunitie.ROI | float) }}%
    </div>
    <p class="text-dark">{{improvable_oportunitie.TITLE}}</p>
    <p class="f-s-12 text-dark">Compra en {{ '{:,.0f}'.format(improvable_oportunitie.PRICE | float).replace(',', '.') }} €</p>
    <p class="f-s-12  text-dark">Beneficios alquilando <strong></strong>{{ '{:,.0f}'.format(improvable_oportunitie.BED | float).replace(',', '.') }} días</strong>.</p>
    <p class="f-fw-700  text-dark">Ganancia Anual: <span class="text-success">{{ '{:,.0f}'.format(improvable_oportunitie.NP | float).replace(',', '.') }} €</span>.</p>
  </div>
</div>


{%endfor%}


</div>
 {%endif%}
 <!-- Fin de franja de recomendaciones mejorando el presupuesto -->




<!-- End Blank start -->
{% endblock %}